<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Rate</th>
            <th>Rate UoM</th>
            <th>Units</th>
            <th>Value</th>
            <th width="50px"></th>
        </tr>
    </thead>
    <tbody>
        {{#each Instructions}}
        <tr>
            <th scope="row">
                <a class="launch-modal" data-modal-size="modal-lg" data-modal-title="Primitive YTD" href="/employer/{{../ParentContext.EmployerId}}/employee/{{../ParentContext.Id}}/payInstruction/{{this.Id}}">
                    {{this.Id}}
                </a>
            </th>
            <td>
                {{this.StartDate}}
            </td>
            <td>
                {{this.EndDate}}
            </td>
            <td>
                {{this.Rate}}
            </td>
            <td>
                {{this.RateUoM}}
            </td>
            <td>
                {{this.Units}}
            </td>
            <td>
                {{formatSalary this.Value}}
            </td>
            <td>
                <button type="button" 
                    class="btn btn-danger btn-sm btn-delete-instruction" 
                    data-employer-id="{{../ParentContext.EmployerId}}" 
                    data-employee-id="{{../ParentContext.Id}}" 
                    data-id="{{this.Id}}">
                    Delete
                </button>                
            </td>                                                         
        </tr>
        {{/each}}                    
    </tbody>
</table>