<h4>Address</h4>

<div class="form-group">
    <label for="Address1">Address 1</label>

    <input type="text" 
        class="form-control" 
        id="Address1" 
        name="Address[Address1]" 
        value="{{Address.Address1}}" 
        placeholder="First line of the address" required>
</div>

<div class="form-group">
    <label for="Address2">Address 2</label>

    <input type="text" 
        class="form-control" 
        id="Address2" 
        name="Address[Address2]"
        value="{{Address.Address2}}" 
        placeholder="Second line of the address" required>
</div> 

<div class="form-group">
    <label for="Address3">Address 3</label>

    <input type="text" 
        class="form-control" 
        id="Address3" 
        name="Address[Address3]" 
        value="{{Address.Address3}}" 
        placeholder="Third line of the address">
</div>

<div class="form-group">
    <label for="Address4">Address 4</label>

    <input type="text" 
        class="form-control" 
        id="Address4" 
        name="Address[Address4]" 
        value="{{Address.Address4}}" 
        placeholder="Fourth line of the address">
</div>

<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="form-group">
            <label for="Postcode">Postcode</label>

            <input type="text" 
                class="form-control" 
                id="Postcode" 
                name="Address[Postcode]" 
                value="{{Address.Postcode}}" 
                placeholder="Postcode">
        </div>
    </div>
    <div class="col-sm-12 col-md-8">
        <div class="form-group">
            <label for="Country">Country</label>

            <input type="text" 
                class="form-control" 
                id="Country" 
                name="Address[Country]" 
                value="{{defaultCountry Address.Country}}" 
                placeholder="Country">
        </div>
    </div>
</div>



