{{#if Id}}
<form method="POST" action="/Employer/{{EmployerId}}/Employee/{{Id}}" data-parsley-validate>
{{else}}
<form method="POST" action="/Employer/{{EmployerId}}/Employee" data-parsley-validate>
{{/if}}

        <ul class="nav nav-pills nav-fill" id="subTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tax-tab" data-toggle="tab" href="#tax" role="tab" aria-controls="tax" aria-selected="false">Tax &amp; NI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ae-tab" data-toggle="tab" href="#ae" role="tab" aria-controls="ae" aria-selected="false">Auto Enrolment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="partner-tab" data-toggle="tab" href="#partner" role="tab" aria-controls="partner" aria-selected="false">Partner Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab" aria-controls="advanced" aria-selected="false">Advanced</a>
            </li>
        </ul>

        <div class="tab-content" id="mySubTabContent">

            <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">

                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <label for="LastName">Last name</label>
                            <input type="text" class="form-control form-control-lg" id="LastName" name="LastName" value="{{LastName}}" placeholder="Last name"
                                required maxlength="35" data-required-message="Last name is required">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <label for="Code">Code</label>
                            <input type="text" class="form-control form-control-lg" id="Code" name="Code" value="{{Code}}" placeholder="Unique code also known as the Payroll Id"
                                required maxlength="35" data-required-message="Code is required">

                            <span class="notes" The code must be unique to Employer and never reused.></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group">
                            <label for="StartDate">Start date</label>
                            <input type="date" class="form-control form-control-lg" id="StartDate" name="StartDate" value="{{StartDate}}" placeholder="Start date">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="form-group">
                            <label for="EffectiveDate">Effective date</label>
                            <input type="date" class="form-control form-control-lg" id="EffectiveDate" name="EffectiveDate" value="{{EffectiveDate}}"
                                placeholder="Date the revision will come into effect" required data-required-message="Effective date is required">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-1">
                        <div class="form-group">
                            <label for="Title">Title</label>
                            <input type="text" class="form-control title" id="Title" name="Title" value="{{Title}}" placeholder="Title" maxlength="35">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="form-group">
                            <label for="FirstName">First name</label>
                            <input type="text" class="form-control" id="FirstName" name="FirstName" value="{{FirstName}}" placeholder="First name" maxlength="35">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-1">
                        <div class="form-group">
                            <label for="Initials">Initials</label>
                            <input type="text" class="form-control initials" id="Initials" name="Initials" value="{{Initials}}" placeholder="Initials"
                                maxlength="35">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <div class="form-group">
                            <label for="MiddleName">Middle name(s)</label>
                            <input type="text" class="form-control" id="MiddleName" name="MiddleName" value="{{MiddleName}}" placeholder="Middle name(s) if any"
                                maxlength="35">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">

                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="DateOfBirth">Date of birth</label>
                                    <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" value="{{DateOfBirth}}" placeholder="Date of birth"
                                        required data-required-message="Date of birth is required">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="Gender">Gender</label>

                                    {{#select Gender}}
                                    <select class="form-control" id="Gender" name="Gender" required data-required-message="Gender is required">
                                        <option value="Unknown">Unknown</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                    {{/select}}
                                </div>
                            </div>
                        </div>
                        
                        {{>payScheduleDropdown}} 

                        {{> bankAccountForm}}
                    </div>

                    <div class="col-sm-12 col-md-6">
                        {{> addressForm}}
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="tax" role="tabpanel" aria-labelledby="tax-tab">

                <div class="form-group">
                    <label for="StarterDeclaration">Starter declaration</label>

                    {{#select StarterDeclaration}}
                    <select class="form-control" id="StarterDeclaration" name="StarterDeclaration" required data-required-message="Starter declaration is required">
						<option value="PreviouslyReported">Previously Reported (included in previous FPS)</option>
                        <option value="A">A (this is the employee's 1st employment since the 6th April)</option>
                        <option value="B">B (this is the employee's only employment)</option>
                        <option value="C">C (the employee has another employment or pension)</option>                    </select>
                    {{/select}}

                    <span class="notes">
                        If the employee has been included in a previous FPS, you should be choose the "Previously Reported" option. This prevents duplicate FPS starter declarations being transmitted.
                    </span>
                </div>

                <div class="form-group">
                    <label for="NiNumber">Ni Number</label>
                    <input type="text" class="form-control" id="NiNumber" name="NiNumber" value="{{NiNumber}}" placeholder="Ni Number">

                    <span class="notes">The employee's National Insurance number issued by HMRC. Temporary NI numbers should no longer be used
                        for payroll.</span>
                </div>

                <div class="form-group">
                    <label for="DirectorshipAppointmentDate">Directorship appointment date</label>
                    <input type="date" class="form-control" id="DirectorshipAppointmentDate" name="DirectorshipAppointmentDate" value="{{DirectorshipAppointmentDate}}"
                        placeholder="Directorship appointment date">
                </div>

                <div class="form-group">
                    <label for="NicLiability">Nic Liability</label>

                    {{#multipleSelect NicLiability}}
                    <select class="form-control" id="NicLiability" name="NicLiability" multiple>
                        <option value="IsFullyLiable">Is Fully Liable</option>
                        <option value="HasOtherJob">Has Other Job</option>
                        <option value="IsFemaleEntitledToReducedRate">Is Female Entitled to Reduced Rate</option>
                        <option value="IsNotLiable">Is Not Liable</option>
                        <option value="IsContractedOut">Is Contracted Out</option>
                        <option value="IsApprentice">Is Apprentice</option>
                        <option value="LeaverBeyond6Weeks">Leaver Beyond 6 Weeks</option>
                    </select>
                    {{/multipleSelect}}

                    <span class="notes">
                        The NIC liability flags are used to ensure the correct NI letter is assigned. See
                        <a href="http://developer.payrun.io/docs/getting-started/using-the-correct-ni-letter-code.html" target="_blank">Using the correct NI letter code</a> for more information on setting the correct NIC liability flags.
                    </span>
                </div>
            </div>

            <div class="tab-pane fade" id="ae" role="tabpanel" aria-labelledby="ae-tab">
                <div class="col-sm-12 col-md-6">
                    <h4>Auto enrolment</h4>

                    <div class="form-group">
                        <label for="AEAssessmentOverride">AEAssessment override</label>

                        {{#select AEAssessmentOverride}}
                        <select class="form-control" id="AEAssessmentOverride" name="AEAssessmentOverride">
                            <option value="None">Not set</option>
                            <option value="OptOut">Opt out</option>
                            <option value="OptIn">Opt in</option>
                            <option value="VoluntaryJoiner">Voluntary joiner</option>
                            <option value="ContractualPension">Contractual pension</option>
                            <option value="CeasedMembership">Ceased membership</option>
                            <option value="Leaver">Leaver</option>
                            <option value="Excluded" Excluded></option>
                        </select>
                        {{/select}}

                        <span class="notes">
                            The auto enrolment assessment override value. Enables the auto enrolment assessment result to be overridden
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="AEAssessmentOverrideDate">Assessment override date</label>
                        <input type="date" class="form-control" id="AEAssessmentOverrideDate" name="AEAssessmentOverrideDate" value="{{AEAssessmentOverrideDate}}"
                            placeholder="Assessment override date">

                        <span class="notes">
                            The auto enrolment assessment override date. Determines the date when auto enrolment assessment override applies.
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="AEPostponementDate">Postponement date</label>
                        <input type="date" class="form-control" id="AEPostponementDate" name="AEPostponementDate" value="{{AEPostponementDate}}"
                            placeholder="Postponement date">

                        <span class="notes">
                            The auto enrolment deferment date. Indicates the date when auto enrolment assessments are deferred to.
                        </span>
                    </div>
                    <!-- todo -->
                </div>
            </div>

            <div class="tab-pane fade" id="partner" role="tabpanel" aria-labelledby="partner-tab">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h4>Partner</h4>

                        <span class="intro">The details of the employee's partner only need be provided when claiming ShPP.</span>

                        <div class="form-group">
                            <label for="EmployeePartner_Title">Title</label>
                            <input type="text" class="form-control title" id="EmployeePartner_Title" name="EmployeePartner[Title]" value="{{EmployeePartner.Title}}"
                                placeholder="Title" maxlength="35">
                        </div>

                        <div class="form-group">
                            <label for="EmployeePartner_FirstName">First name</label>
                            <input type="text" class="form-control" id="EmployeePartner_FirstName" name="EmployeePartner[FirstName]" value="{{EmployeePartner.FirstName}}"
                                placeholder="First name" maxlength="35">
                        </div>

                        <div class="form-group">
                            <label for="EmployeePartner_Initials">Initials</label>
                            <input type="text" class="form-control initials" id="EmployeePartner_Initials" name="EmployeePartner[Initials]" value="{{EmployeePartner.Initials}}"
                                placeholder="Initials" maxlength="35">

                            <span class="notes">The employee's initial, if not supplying a first name</span>
                        </div>

                        <div class="form-group">
                            <label for="EmployeePartner_MiddleName">Middle name(s)</label>
                            <input type="text" class="form-control" id="EmployeePartner_MiddleName" name="EmployeePartner[MiddleName]" value="{{EmployeePartner.MiddleName}}"
                                placeholder="Middle name(s) if any" maxlength="35">
                        </div>

                        <div class="form-group">
                            <label for="EmployeePartner_LastName">Last name</label>
                            <input type="text" class="form-control" id="EmployeePartner_LastName" name="EmployeePartner[LastName]" value="{{EmployeePartner.LastName}}"
                                placeholder="Last name" maxlength="35">
                        </div>

                        <div class="form-group">
                            <label for="EmployeePartner_NiNumber">Ni Number</label>
                            <input type="text" class="form-control" id="EmployeePartner_NiNumber" name="EmployeePartner[NiNumber]" value="{{EmployeePartner.NiNumber}}"
                                placeholder="Ni Number">

                            <span class="notes">The employee's National Insurance number issued by HMRC. Temporary NI numbers should no longer
                                be used for payroll.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="advanced" role="tabpanel" aria-labelledby="advanced-tab">

                <div class="row">
                    <div class="col-sm-12 col-md-6">

                        <div class="form-group">
                            <label for="Revision">Revision</label>
                            <input type="number" class="form-control" id="Revision" name="Revision" value="{{Revision}}" placeholder="Revision number"
                               readonly step="1" min="0">
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-8">
                                <div class="form-group" >
                                    <label for="Territory">Territory</label>

                                    {{#select Territory}}
                                    <select class="form-control" id="Territory" name="Territory" required>
                                        <option value="UnitedKingdom">United Kingdom</option>
                                    </select>
                                    {{/select}}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="form-group">
                                    <label for="Region">Region</label>

                                    {{#select Region}}
                                    <select class="form-control" id="Region" name="Region" required>
                                        <option value="England">England</option>
                                        <option value="Scotland">Scotland</option>
                                    </select>
                                    {{/select}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="PaymentMethod">Payment method</label>

                            {{#select PaymentMethod}}
                            <select class="form-control" id="PaymentMethod" name="PaymentMethod">
                                <option value="NotSet">Not set</option>
                                <option value="Cash">Cash</option>
                                <option value="Cheque">Cheque</option>
                                <option value="BACS">BACS</option>
                            </select>
                            {{/select}}
                        </div>

                        <div class="form-group">
                            <label for="MaritalStatus">Marital status</label>

                            {{#select MaritalStatus}}
                            <select class="form-control" id="MaritalStatus" name="MaritalStatus">
                                <option value="NotSet">Not set</option>
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Divorced">Divorced</option>
                                <option value="Widowed">Widowed</option>
                            </select>
                            {{/select}}
                        </div>

                        <div class="form-group">
                            <label for="PassportNumber">Passport number</label>
                            <input type="text" class="form-control" id="PassportNumber" name="PassportNumber" value="{{PassportNumber}}" placeholder="Passport number (if applicable)"
                                maxlength="10">
                        </div>

                        <div class="form-group">
                            <label for="HoursPerWeek">Hours per week</label>
                            <input type="number" class="form-control" id="HoursPerWeek" name="HoursPerWeek" value="{{defaultHours HoursPerWeek}}" placeholder="Hours per week"
                                min="0" max="168" required step="0.5">

                            <span class="notes">
                                The employee's normal number of hours worked per week (irrespective of pay frequency).
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="Seconded">Seconded</label>

                            {{#select Seconded}}
                            <select class="form-control" id="Seconded" name="Seconded">
                                <option value="NotSet">Not set</option>
                                <option value="Stay183DaysOrMore">Stay 183 days or more</option>
                                <option value="StayLessThan183Days">Stay less than 183 days</option>
                                <option value="InOutUk">In out Uk</option>
                            </select>
                            {{/select}}
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="EEACitizen" name="EEACitizen" {{checkedIf EEACitizen}}>

                            <label class="form-check-label" for="EEACitizen">
                                Is a citizen of the European Economic Area?
                            </label>

                            <span class="notes">
                                Indicates if the seconded employee is a citizen of the European Economic Area.
                            </span>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="EPM6" name="EPM6" {{checkedIf EPM6}}>

                            <label class="form-check-label" for="EPM6">
                                Indicates if the seconded employee is under an EPM6 (Modified) Scheme for tax equalised expatriate employees.
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="WorkingWeek">Working week pattern</label>

                            {{#multipleSelect WorkingWeek}}
                            <select class="form-control" id="WorkingWeek" name="WorkingWeek" multiple>
                                <option value="AllWeekDays">All week days</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                                <option value="AllDays">All days</option>
                                <option value="None">None</option>
                            </select>
                            {{/multipleSelect}}

                            <span class="notes">
                                The employee's normal working week pattern.
                            </span>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="IsAgencyWorker" name="IsAgencyWorker" {{checkedIf IsAgencyWorker}}>

                            <label class="form-check-label" for="IsAgencyWorker">
                                Is an agency worker?
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="PaymentToANonIndividual" name="PaymentToANonIndividual" {{checkedIf PaymentToANonIndividual}}>

                            <label class="form-check-label" for="PaymentToANonIndividual">
                                Indicates where payments are made to a body, such as personal representative, trustee or corporate organisation.
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="IrregularEmployment" name="IrregularEmployment" {{checkedIf IrregularEmployment}}>

                            <label class="form-check-label" for="IrregularEmployment">
                                Indicates if the employee is paid on an irregular basis.
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="OnStrike" name="OnStrike" {{checkedIf OnStrike}}>

                            <label class="form-check-label" for="OnStrike">
                                Indicates if the employee's pay in this pay period has been reduced due to being on strike.
                            </label>
                        </div>

                        {{>ruleExclusions}}

                        <div class="form-check">
                            <input class="form-check-input form-control-lg" type="checkbox" id="Deactivated" name="Deactivated" {{checkedIf Deactivated}}>
                            <label class="form-check-label" for="Deactivated">
                                Indicates if the employee is deactivated.
                            </label>
                            <span class="notes">Deactivated employees cannot be included in a pay run.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>