<div class="form-group">
    <label for="PaySchedule">Pay Schedule</label>

    <select class="form-control" id="PaySchedule" name="PaySchedule">
        <option value="">Not set</option>

        {{#each PaySchedules}}
            {{#ifCond ../PaySchedule this.Key this}}
            <option value="{{this.Key}}" selected>{{this.Name}}</option>
            {{else}}
            <option value="{{this.Key}}">{{this.Name}}</option>
            {{/ifCond}}
        {{/each}}
    </select>
</div>