<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="StartDate">Start date</label>

            <input type="date" 
                class="form-control" 
                id="StartDate" 
                name="StartDate" 
                value="{{StartDate}}" 
                placeholder="The date the instruction will come into effect." 
                required 
                data-required-message="Start date is required"
                {{minStartDate MinStartDate}}>

            <span class="notes">
                The date the instruction will come into effect.
            </span>
        </div>

        <div class="form-group">
            <label for="EndDate">End date</label>

            <input type="date" 
                class="form-control" 
                id="EndDate" 
                name="EndDate" 
                value="{{EndDate}}" 
                placeholder="The date the instruction will end, open ended instructions will run forever.">

            <span class="notes">
                The date the instruction will end, open ended instructions will run forever.
            </span>
        </div>             

        <div class="form-group">
            <label for="Code">Code</label>
            <input type="text" 
                class="form-control" 
                id="Code" 
                name="Code" 
                value="{{Code}}" 
                placeholder="Code" 
                minlength="2" 
                maxlength="35" 
                pattern="[A-Za-z0-9]*" 
                required 
                data-required-message="Code is required">

            <span class="notes">
                The code that represents the benefit type and it's treatment.
            </span>                
        </div>

        <div class="form-group">
            <label for="TotalCost">Total cost</label>
            <input type="number" 
                class="form-control" 
                id="TotalCost" 
                name="TotalCost" 
                value="{{formatSalary TotalCost}}" 
                placeholder="Total cost" 
                required 
                data-required-message="Total cost is required" 
                step="0.01">

            <span class="notes">
                The total cost (or value) of the benefit for the remainder of the financial year.
            </span>
        </div>                                      
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="EmployeeContribution">Employee contribution</label>
            <input type="number" 
                class="form-control" 
                id="EmployeeContribution" 
                name="EmployeeContribution" 
                value="{{formatSalary EmployeeContribution}}" 
                placeholder="Employee contribution" 
                required 
                data-required-message="Employee contribution is required" 
                step="0.01">

            <span class="notes">
                The amount the employee contributes towards the benefit for the rest of the financial year.
            </span>
        </div>
                
        <div class="form-group">
            <label for="CashEquivalent">Cash equivalent</label>
            <input type="number" 
                class="form-control" 
                id="CashEquivalent" 
                name="CashEquivalent" 
                value="{{formatSalary CashEquivalent}}" 
                placeholder="Cash equivalent" 
                step="0.01">

            <span class="notes">
                The per period cash equivalent value of the benefit.<br>
                [Optional] used to override the calculated cash equivilent value.
            </span>
        </div>

        <div class="form-group">
            <label for="AccountingMethod">Accounting method</label>

            {{#select AccountingMethod}}
            <select class="form-control" id="AccountingMethod" name="AccountingMethod" required data-required-message="Accounting method is required">
                <option value="P11D">P11D</option>
                <option value="PAYE">PAYE</option>
            </select>
            {{/select}}

            <span class="notes">
                The accounting method used to report the benefit to HMRC.
            </span>
        </div>        

        <div class="form-group">
            <label for="Description">Description</label>

            <input type="text" 
                class="form-control" 
                id="Description" 
                name="Description" 
                value="{{Description}}" 
                placeholder="The pay line descripton override" 
                maxlength="200">

            <span class="notes">
                This description will override the default description from the pay code. 
                See <a href="http://developer.payrun.io/docs/key-concepts/customising-the-payslip.html" target="_blank">Customising the Payslip</a> for more information on customising the payslip output and using runtime variables.
            </span>
        </div>             
    </div>
</div>