<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="StartDate">Start date</label>

            <input type="date" 
                class="form-control" 
                id="StartDate" 
                name="StartDate" 
                value="{{StartDate}}" 
                placeholder="The date the instruction will come into effect." 
                required 
                data-required-message="Start date is required"
                {{minStartDate MinStartDate}}>

            <span class="notes">
                The date the instruction will come into effect.
            </span>
        </div>

        <div class="form-group">
            <label for="EndDate">End date</label>

            <input type="date" 
                class="form-control" 
                id="EndDate" 
                name="EndDate" 
                value="{{EndDate}}" 
                placeholder="The date the instruction will end, open ended instructions will run forever.">

            <span class="notes">
                The date the instruction will end, open ended instructions will run forever.
            </span>
        </div>             

        <div class="form-group">
            <label for="DirCalculationMethod">Director calculation method</label>

           {{#select DirCalculationMethod}}
            <select id="DirCalculationMethod" name="DirCalculationMethod" class="form-control">
                <option value="Off">Off</option>
                <option value="AnnualBasis">Annual Basis</option>
                <option value="AlternativeBasis">Alternative Basis</option>
            </select>
            {{/select}}

            <span class="notes">
                The calculation method to be used when treating and employee as a director. 
                See <a href="https://developer.payrun.io/docs/payroll-help/employees-as-directors.html" target="_blank">employees as directors</a> for more information.
            </span>                
        </div>  
        
        <div class="form-group">
            <label for="Code">Code</label>

            <input type="text" 
                class="form-control" 
                id="Code" 
                name="Code" 
                value="{{Code}}" 
                maxlength="35" 
                pattern="[A-Za-z0-9]*">

            <span class="notes">
                The payment code override. If omitted; use value defined in pension scheme.
            </span>
        </div>  

        <div class="form-group">
            <label for="EmployeeContributionCash">Employee contribution cash</label>

            <input type="number" 
                class="form-control" 
                id="EmployeeContributionCash" 
                name="EmployeeContributionCash" 
                value="{{EmployeeContributionCash}}" 
                step="0.01">

            <span class="notes">
                The employee cash contribution amount override. If omitted; use value defined in pension scheme.
            </span>
        </div> 

        <div class="form-group">
            <label for="EmployerContributionCash">Employer contribution cash</label>

            <input type="number" 
                class="form-control" 
                id="EmployerContributionCash" 
                name="EmployerContributionCash" 
                value="{{EmployerContributionCash}}" 
                step="0.01">

            <span class="notes">
                The employer cash contribution amount override. If omitted; use value defined in pension scheme.
            </span>
        </div>  

        <div class="form-group">
            <label for="EmployeeContributionPercent">Employee contribution %</label>

            <input type="number" 
                class="form-control" 
                id="EmployeeContributionPercent" 
                name="EmployeeContributionPercent" 
                value="{{EmployeeContributionPercent}}" 
                step="0.01" 
                max="1" 
                min="0">

            <span class="notes">
                The employee contribution percentage override. If omitted; use value defined in pension scheme.
            </span>
        </div> 

        <div class="form-group">
            <label for="EmployerContributionPercent">Employer contribution %</label>

            <input type="number" 
                class="form-control" 
                id="EmployerContributionPercent" 
                name="EmployerContributionPercent" 
                value="{{EmployerContributionPercent}}" 
                step="0.01" 
                max="1" 
                min="0">

            <span class="notes">
                The employer contribution percentage override. If omitted; use value defined in pension scheme.
            </span>
        </div> 

        <div class="form-group">
            <label for="AdditionalVoluntaryContributionCash">Employee additional voluntary cash contribution</label>

            <input type="number" 
                class="form-control" 
                id="AdditionalVoluntaryContributionCash" 
                name="AdditionalVoluntaryContributionCash" 
                value="{{AdditionalVoluntaryContributionCash}}" 
                step="0.01">

            <span class="notes">
                The employee additional voluntary cash contribution amount.
            </span>
        </div> 

        <div class="form-group">
            <label for="AdditionalVoluntaryContributionPercent">Employee additional voluntary % contribution</label>

            <input type="number" 
                class="form-control" 
                id="AdditionalVoluntaryContributionPercent" 
                name="AdditionalVoluntaryContributionPercent" 
                value="{{AdditionalVoluntaryContributionPercent}}" 
                step="0.01" 
                max="1" 
                min="0">

            <span class="notes">
                The employee additional voluntary contribution percentage amount.
            </span>
        </div>

        <div class="form-group">
            <label for="LowerThreshold">Lower threshold</label>

            <input type="number" 
                class="form-control" 
                id="LowerThreshold" 
                name="LowerThreshold" 
                value="{{LowerThreshold}}" 
                step="0.01">

            <span class="notes">
                The lower contribution cut off threshold. If specified; contributions will 
                only be calculated on pensionable pay exceeding the thresh hold. If omitted; 
                use value defined in pension scheme.
            </span>
        </div>  

        <div class="form-group">
            <label for="UpperThreshold">Upper threshold</label>

            <input type="number" 
                class="form-control" 
                id="UpperThreshold" 
                name="UpperThreshold" 
                value="{{UpperThreshold}}" 
                step="0.01">

            <span class="notes">
                The upper contribution cut off threshold. If specified; contributions will only 
                be calculated on pensionable pay below the thresh hold. If omitted; use value 
                defined in pension scheme.
            </span>
        </div>

        <div class="form-check">
            <input class="form-check-input" 
                type="checkbox" 
                id="SalarySacrifice" 
                name="SalarySacrifice" 
                {{checkedIf SalarySacrifice}}>

            <label class="form-check-label" for="SalarySacrifice">
                Salary sacrifice?
            </label>

            <span class="notes">
                Determines if the contributions are calculated using the salary sacrifice method. If omitted; use value defined in pension scheme.
            </span>
        </div>                                                                             
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="Description">Description</label>

            <input type="text" 
                class="form-control" 
                id="Description" 
                name="Description" 
                value="{{Description}}" 
                placeholder="The pay line descripton override" 
                maxlength="200">

            <span class="notes">
                This description will override the default description from the pay code. 
                See <a href="http://developer.payrun.io/docs/key-concepts/customising-the-payslip.html" target="_blank">Customising the Payslip</a> for more information on customising the payslip output and using runtime variables.
            </span>
        </div>             
    </div>
</div>