<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="StartDate">Start date</label>

            <input type="date" 
                class="form-control" 
                id="StartDate" 
                name="StartDate" 
                value="{{StartDate}}" 
                placeholder="The date the instruction will come into effect." 
                required 
                data-required-message="Start date is required"
                {{minStartDate MinStartDate}}>
            
            <span class="notes">
                The date the instruction will come into effect.
            </span>
        </div>

        <div class="form-group">
            <label for="EndDate">End date</label>

            <input type="date" 
                class="form-control" 
                id="EndDate" 
                name="EndDate" 
                value="{{EndDate}}" 
                placeholder="The date the instruction will end, open ended instructions will run forever.">

            <span class="notes">
                The date the instruction will end, open ended instructions will run forever.
            </span>
        </div>             
                    
        <div class="form-group">
            <label for="Rate">Rate</label>
            <input type="number" 
                class="form-control" 
                id="Rate" 
                name="Rate" 
                value="{{formatSalary Rate}}" 
                step="0.01" 
                min="0"
                placeholder="The monetary rate to be used" 
                required 
                data-required-message="Rate is required">
        </div>

        <div class="form-group">
            <label for="Code">Code</label>
            <input type="text" 
                class="form-control" 
                id="Code" 
                name="Code" 
                value="{{Code}}" 
                placeholder="Code" 
                maxlength="35" 
                pattern="[A-Za-z0-9]*">

            <span class="notes">
                The payment code override. If omitted; the BASIC payment code is used.
            </span>                
        </div>                    
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="RateUoM">Unit of measure</label>

            {{#select RateUoM}}
            <select id="RateUoM" name="RateUoM" class="form-control">
                <option value="NotSet">Not set</option>
                <option value="Minute">Minute</option>
                <option value="Hour">Hour</option>
                <option value="Day">Day</option>
                <option value="Week">Week</option>
                <option value="Month">Month</option>
                <option value="Year">Year</option>
            </select>
            {{/select}}
        </div>  

        <div class="form-group">
            <label for="Units">Units</label>

            <input type="number" 
                class="form-control" 
                id="Units" 
                name="Units" 
                value="{{fixedDecimal Units 2}}" 
                placeholder="The number of units to be used." 
                required 
                data-required-message="Units is required" 
                step="0.01" 
                min="0">
        </div>                     

        <div class="form-group">
            <label for="Description">Description</label>

            <input type="text" 
                class="form-control" 
                id="Description" 
                name="Description" 
                value="{{Description}}" 
                placeholder="The pay line description override" 
                maxlength="200">

            <span class="notes">
                This description will override the default description from the pay code. 
                See <a href="http://developer.payrun.io/docs/key-concepts/customising-the-payslip.html" target="_blank">Customising the Payslip</a> for more information on customising the payslip output and using runtime variables.
            </span>
        </div>             
    </div>
</div>