<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="StartDate">Start date</label>

            <input type="date" 
                class="form-control" 
                id="StartDate" 
                name="StartDate" 
                value="{{StartDate}}" 
                placeholder="The date the instruction will come into effect." 
                required 
                data-required-message="Start date is required"
                {{minStartDate MinStartDate}}>

            <span class="notes">
                The date the instruction will come into effect.
            </span>
        </div>

        <div class="form-group">
            <label for="EndDate">End date</label>

            <input type="date" 
                class="form-control" 
                id="EndDate" 
                name="EndDate" 
                value="{{EndDate}}" 
                placeholder="The date the instruction will end, open ended instructions will run forever.">

            <span class="notes">
                The date the instruction will end, open ended instructions will run forever.
            </span>
        </div>

        <div class="form-group">
            <label for="AverageWeeklyEarningOverride">Average weekly earning override</label>
            <input type="number" 
                class="form-control" 
                id="AverageWeeklyEarningOverride" 
                name="AverageWeeklyEarningOverride" 
                value="{{formatSalary AverageWeeklyEarningOverride}}">

            <span class="notes">
                Optional override value to the Average Weekly Earnings calculation. 
                If this value is set then the calculated value is ignored.
            </span>                
        </div>                    
                    
        <div class="form-group">
            <label for="AbsenceStart">Absence Start</label>
            <input type="date" 
                class="form-control" 
                id="AbsenceStart" 
                name="AbsenceStart" 
                value="{{AbsenceStart}}"  
                required 
                data-required-message="Absence start is required">

            <span class="notes">
                The start date of the employee absence.
            </span>                
        </div>             
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="form-group">
            <label for="AbsenceEnd">Absence End</label>
            <input type="date" 
                class="form-control" 
                id="AbsenceEnd" 
                name="AbsenceEnd" 
                value="{{AbsenceEnd}}">

            <span class="notes">
                The end date of the employee absence, leave blank if the absence is long-term and the end date is not known.
            </span>                
        </div> 

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="StatutoryOffset" name="StatutoryOffset" {{checkedIf StatutoryOffset}}>

            <label class="form-check-label" for="StatutoryOffset">
                Statutory offset?
            </label>

            <span class="notes">
                Flag to indicate if the statutory payment should be offset.
            </span>
        </div>                     

        <div class="form-group">
            <label for="Description">Description</label>

            <input type="text" 
                class="form-control" 
                id="Description" 
                name="Description" 
                value="{{Description}}" 
                placeholder="The pay line description override" 
                maxlength="200">

            <span class="notes">
                This description will override the default description from the pay code. 
                See <a href="http://developer.payrun.io/docs/key-concepts/customising-the-payslip.html" target="_blank">Customising the Payslip</a> for more information on customising the payslip output and using runtime variables.
            </span>
        </div>             
    </div>
</div>