<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">

        <script src="https://unpkg.com/tippy.js@2.5.2/dist/tippy.all.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>        
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </head>
    <body>

        <div class="container">
            <nav class="navbar">
                <a class="navbar-brand" href="/">
                    <img src="https://www.payrun.io/images/logo-white-bg.png">
                </a>

                <div class="justify-content-end" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item d-none d-md-block">
                            {{#unless HideAPICallsLink}}
                            <a class="nav-link view-api-calls" href="#">View API calls</a>
                            {{/unless}}
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container content-container">
            <div class="row">
                <div class="col-sm-12">
                    {{{content}}}
                </div>
            </div>
        </div>

        <div class="container footer">
            <div class="row">
                <div class="col-sm-6">
                    <!-- Buttons from https://buttons.github.io/ -->
                    <a class="github-button" href="https://github.com/X-API/PayRunIO.Demo.UI/fork" data-size="large" aria-label="Fork X-API/PayRunIO.Demo.UI on GitHub">Fork</a>
                    <a class="github-button" href="https://github.com/X-API/PayRunIO.Demo.UI/subscription" data-size="large" aria-label="Watch X-API/PayRunIO.Demo.UI on GitHub">Watch</a>
                    <a class="github-button" href="https://github.com/X-API/PayRunIO.Demo.UI/issues" data-size="large" aria-label="Issue X-API/PayRunIO.Demo.UI on GitHub">Issues</a>
                    <a class="github-button" href="https://github.com/X-API/PayRunIO.Demo.UI/archive/master.zip" data-size="large" aria-label="Download X-API/PayRunIO.Demo.UI on GitHub">Download</a>
                </div>
                <div class="col-sm-6">
                    <p>Demo Version: {{version}}</p>
                    <p>API Version: {{apiVersion}}</p>
                </div>
            </div>
        </div>

        <div class="api-calls">
            <div class="rui-resizable-content">
                <div class="container-fluid">
                    <div class="row resize-handle">
                        <div class="col-sm-12"></div>
                    </div>                    
                    <div class="row title">
                        <div class="col-sm-11">
                            API calls
                        </div>

                        <div class="col-sm-1 text-right close-api-calls">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            {{>apiCalls}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" value="{{openAPICalls}}" id="open-api-calls">
        <input type="hidden" value="{{apiCallsHeight}}" id="api-calls-height">

        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Title</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>       
                    </div>
                    <div class="modal-body">
                        <p>Loading...</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>      

        <script src="/js/jquery-resizeable.js"></script>
        <script src="/js/global.js"></script>
        <script src="/js/handlebars-v4.0.11.js"></script>
        <script src="/js/templates.js"></script>
        <script src="/js/parsley.min.js"></script>
    </body>
</html>