<div class="row actions">
    <div class="col-sm-12">
        <a class="btn btn-primary btn-lg" href="/employer/new" role="button">Add a new employer</a>
    </div>
</div>

{{#if employers}}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">PAYE Ref</th>
            <th scope="col">Pay Schedules
                <div class="row th-subheader">
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-sm-4">
                                Name
                            </div>      
                            <div class="col-sm-2">
                                Pay Frequency
                            </div>   
                            <div class="col-sm-2">
                                Employees
                            </div>   
                            <div class="col-sm-2">
                                Last Pay Date
                            </div>   
                            <div class="col-sm-2">
                                Next Pay Date
                            </div>   
                        </div>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each employers.EmployerTable.Employer}}
        <tr>
            <th scope="row">
                <a href="/employer/{{this.Key}}">
                    {{this.Name}}
                </a>
            </th>
            <td>{{this.TaxOfficeNumber}}/{{this.TaxOfficeReference}}</td>
            <td>
                {{#if this.PaySchedule}}
                    {{#each this.PaySchedule}}
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{Name}}
                                </div>      
                                <div class="col-sm-2">
                                    {{PayFrequency}}
                                </div>   
                                <div class="col-sm-2">
                                    {{EmployeeCount}}
                                </div> 
                                <div class="col-sm-2">
                                    {{LastPayDay}}
                                </div>
                                <div class="col-sm-2">
                                    {{NextPayDay}}
                                </div>     
                            </div>
                        </div>
                    </div>
                    {{/each}}
                {{else}}
                    <a class="btn btn-sm btn-default" href="/employer/{{this.Key}}#schedules" role="button">Add a Pay Schedule</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
  </tbody>
</table>
{{/if}}