{{>breadcrumbs}}

{{>status}}

{{>validationErrors}}

{{#if ShowTabs}}
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" 
                id="home-tab" 
                data-toggle="tab" 
                href="#home" 
                role="tab" 
                aria-controls="home" 
                aria-selected="true">Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" 
                id="instructions-tab" 
                data-toggle="tab" 
                href="#instructions" 
                role="tab" 
                aria-controls="instructions" 
                aria-selected="false">Pay Instructions</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" 
                id="year-to-date-instructions-tab" 
                data-toggle="tab" 
                href="#year-to-date-instructions" 
                role="tab" 
                aria-controls="year-to-date-instructions" 
                aria-selected="false">YTD Pay Instructions</a>
        </li>   
        <li class="nav-item">
            <a class="nav-link" 
                id="reporting-tab" 
                data-toggle="tab" 
                href="#reporting" 
                role="tab" 
                aria-controls="reporting" 
                aria-selected="false">Reporting</a>
        </li>        
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            {{>employeeForm}}
        </div>

        <div class="tab-pane fade" id="instructions" role="tabpanel" aria-labelledby="instructions-tab">
            <div class="row actions">
                <div class="col-sm-6">
                    <div class="dropdown show">
                        <a class="btn btn-primary dropdown-toggle" 
                            href="#" 
                            role="button" 
                            id="addNewPayInstruction" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false">
                            Add New Pay Instruction
                        </a>

                        <div class="dropdown-menu" aria-labelledby="addNewPayInstruction">
                            {{listOfPayInstructionsToAdd this false}}                           
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <p class="text-right">
                        <a href="http://developer.payrun.io/docs/key-concepts/understanding-pay-instructions.html" target="_blank">
                            Understanding Pay Instructions
                        </a>
                    </p>
                </div>
            </div>

            {{#each GroupedPayInstructions}}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card bg-light">
                            <div class="card-header">
                                <h6>{{payInstructionFriendlyName InstructionType}}</h6>
                            </div>
                            <div class="card-body">
                                {{payInstructionListPartial this ../this}}
                            </div>
                        </div> 
                    </div>
                </div>
            {{/each}}                                  
        </div>

        <div class="tab-pane fade" id="year-to-date-instructions">
            <div class="row actions">
                <div class="col-sm-6">
                    <div class="dropdown show">
                        <a class="btn btn-primary dropdown-toggle" 
                            href="#" 
                            role="button" 
                            id="addNewYTDPayInstruction" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false">
                            Add New YTD Pay Instruction
                        </a>

                        <div class="dropdown-menu" aria-labelledby="addNewYTDPayInstruction">
                            {{listOfPayInstructionsToAdd this true}}                           
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <p class="text-right">
                        <a href="http://developer.payrun.io/docs/key-concepts/understanding-pay-instructions.html" target="_blank">
                            Understanding Pay Instructions
                        </a>
                    </p>
                </div>
            </div>

            {{#each GroupedYTDPayInstructions}}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card bg-light">
                            <div class="card-header">
                                <h6>{{payInstructionFriendlyName InstructionType}}</h6>
                            </div>
                            <div class="card-body">
                                {{payInstructionListPartial this ../this}}
                            </div>
                        </div> 
                    </div>
                </div>
            {{/each}}            
        </div> 

        <div class="tab-pane fade" id="reporting">

        </div>
    </div>        
{{else}}
    {{>employeeForm}}
{{/if}}

<script src="/js/employee.js"></script>