{{>breadcrumbs}}

{{>status}}

{{#if ShowTabs}}
    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" 
                id="home-tab" 
                data-toggle="tab" 
                href="#home" 
                role="tab" 
                aria-controls="home" 
                aria-selected="true">Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" 
                id="instructions-tab" 
                data-toggle="tab" 
                href="#instructions" 
                role="tab" 
                aria-controls="instructions" 
                aria-selected="false">Instructions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" 
                id="year-to-date-instructions-tab" 
                data-toggle="tab" 
                href="#year-to-date-instructions" 
                role="tab" 
                aria-controls="year-to-date-instructions" 
                aria-selected="false">Year To Date Pay Instructions</a>
        </li>         
        <li class="nav-item">
            <a class="nav-link" 
                id="p45-instruction-tab" 
                data-toggle="tab" 
                href="#p45-instruction" 
                role="tab" 
                aria-controls="p45-instruction" 
                aria-selected="false">P45 instruction</a>
        </li>                
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            {{>employeeForm}}
        </div>

        <div class="tab-pane fade" id="instructions" role="tabpanel" aria-labelledby="instructions-tab">
            <div class="row actions">
                <div class="col-sm-6">
                    <div class="dropdown show">
                        <a class="btn btn-primary btn-lg dropdown-toggle" 
                            href="#" 
                            role="button" 
                            id="addNewPayInstruction" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false">
                            Add a new pay instruction
                        </a>

                        <div class="dropdown-menu" aria-labelledby="addNewPayInstruction">
                            <a class="dropdown-item" href="/employer/{{EmployerId}}/employee/{{Id}}/payInstruction/new?type=PrimitivePayInstruction">
                                Primitive instruction
                            </a>
                            
                            <a class="dropdown-item" href="/employer/{{EmployerId}}/employee/{{Id}}/payInstruction/new?type=SalaryPayInstruction">
                                Salary instruction
                            </a>

                            <a class="dropdown-item" href="/employer/{{EmployerId}}/employee/{{Id}}/payInstruction/new?type=TaxPayInstruction">
                                Tax instruction
                            </a>
                            
                            <a class="dropdown-item" href="/employer/{{EmployerId}}/employee/{{Id}}/payInstruction/new?type=NiPayInstruction">
                                Ni instruction
                            </a>
                            
                            <a class="dropdown-item" href="/employer/{{EmployerId}}/employee/{{Id}}/payInstruction/new?type=NiAdjustmentPayInstruction">
                                Ni adjustment instruction
                            </a>

                            <a class="dropdown-item" href="/employer/{{EmployerId}}/employee/{{Id}}/payInstruction/new?type=RatePayInstruction">
                                Rate Pay instruction
                            </a>
                            
                            <a class="dropdown-item" href="/employer/{{EmployerId}}/employee/{{Id}}/payInstruction/new?type=StudentLoanPayInstruction">
                                Student loan
                            </a>
                            
                            <a class="dropdown-item" href="/employer/{{EmployerId}}/employee/{{Id}}/payInstruction/new?type=SspPayInstruction">
                                Statutory Sick Pay
                            </a>

                            <a class="dropdown-item" href="/employer/{{EmployerId}}/employee/{{Id}}/payInstruction/new?type=AoePayInstruction">
                                Attachment of Earning
                            </a>

                            <a class="dropdown-item" href="/employer/{{EmployerId}}/employee/{{Id}}/payInstruction/new?type=ShppPayInstruction">
                                Shared Parental Leave and Pay
                            </a>                            
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <p class="text-right">
                        <a href="http://developer.payrun.io/docs/key-concepts/understanding-pay-instructions.html" target="_blank">
                            Understanding Pay Instructions
                        </a>
                    </p>
                </div>
            </div>

            {{#each GroupedPayInstructions}}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card bg-light">
                            <div class="card-header">
                                <h6>{{payInstructionFriendlyName InstructionType}}</h6>
                            </div>
                            <div class="card-body">
                                {{payInstructionListPartial this ../this}}
                            </div>
                        </div> 
                    </div>
                </div>
            {{/each}}                                  
        </div>

        <div class="tab-pane fade" id="year-to-date-instructions">
            <div class="coming-soon">
                <h4>Coming soon!</h4>

                <p>Check soon to see this functionality wired up with the API</p>
            </div>
        </div> 

        <div class="tab-pane fade" id="p45-instruction">
            <div class="coming-soon">
                <h4>Coming soon!</h4>

                <p>Check soon to see this functionality wired up with the API</p>
            </div>
        </div>               
    </div>        
{{else}}
    {{>employeeForm}}
{{/if}}

<script src="/js/employee.js"></script>