<div class="row actions">
    <div class="col-sm-12">
        <a class="btn btn-primary btn-lg" href="/employer/new" role="button">Add a new employer</a>
    </div>
</div>

{{#if employers}}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">PAYE Ref</th>
            <th scope="col">Address</th>
            <th scope="col">Bank Account</th>
        </tr>
    </thead>
    <tbody>
        {{#each employers}}
        <tr>
            <th scope="row">
                <a href="/employer/{{this.Id}}">
                    {{this.Name}}
                </a>
            </th>
            <td>{{this.HmrcSettings.TaxOfficeNumber}}/{{this.HmrcSettings.TaxOfficeReference}}</td>
            <td>{{address this.Address}}</td>
            <td>{{bankAccount this.BankAccount}}</td>
        </tr>
        {{/each}}
  </tbody>
</table>
{{/if}}