<form method="POST" action="/Employer/{{EmployerId}}/payRun" data-parsley-validate>

    {{>validationErrors}}

    {{#if this.Status}}
    <p>{{this.Status}}</p>
    {{/if}}

    <div class="row">
        <div class="col-sm-12 col-md-12">        
            {{#if this.PayScheduleId}}
                <input type="hidden" id="PaySchedule" name="PaySchedule" value="{{this.PayScheduleId}}" />
            {{else}}
                <div class="form-group">
                    <label for="PaySchedule">Pay Schedule</label>
                    <select class="form-control" id="PaySchedule" name="PaySchedule" required data-required-message="Pay Schedule is required">
                        {{#each this.PaySchedules}}
                            <option value="{{this.Key}}">{{this.Name}}</option>
                        {{/each}}
                    </select>
                </div>
            {{/if}}

            <div class="form-group">
                <label for="PaymentDate">Payment Date</label>
                <input type="date" 
                    class="form-control form-control-lg" 
                    id="PaymentDate" 
                    name="PaymentDate" 
                    value="{{PaymentDate}}" 
                    placeholder="The date the employees were paid in the pay run" 
                    required 
                    data-required-message="Payment Date is required">

                <span class="notes">The date you wish to appear on the employee's payslip (aka pay day).</span>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">    
                    <div class="form-group">
                        <label for="StartDate">Pay Period Start</label>
                        <input type="date" 
                            class="form-control" 
                            id="StartDate" 
                            name="StartDate" 
                            value="{{StartDate}}" 
                            placeholder="The pay period start date" 
                            required 
                            data-required-message="Pay Period Start is required">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6"> 
                    <div class="form-group">
                        <label for="EndDate">Pay Period End</label>
                        <input type="date" 
                            class="form-control" 
                            id="EndDate" 
                            name="EndDate" 
                            value="{{EndDate}}" 
                            placeholder="The pay period end date" 
                            required 
                            data-required-message="Pay Period End is required">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>