{{#if Id}}
<form method="PUT" action="/Employer/{{EmployerId}}/PaySchedule/{{Id}}">
{{else}}
<form method="POST" action="/Employer/{{EmployerId}}/PaySchedule">
{{/if}}

    {{>validationErrors}}

    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" 
            class="form-control form-control-lg" 
            id="Name" 
            name="Name" 
            value="{{Name}}" 
            placeholder="Name of the pay schedule that unique identifies it" 
            required 
            maxlength="35">
    </div>

    <div class="form-group">
        <label for="PayFrequency">Pay Frequency</label>

        {{#select PayFrequency}}
        <select id="PayFrequency" name="PayFrequency" class="form-control form-control-lg" required>
            <option>Please Choose...</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
            <option value="TwoWeekly">Two weekly</option>
            <option value="FourWeekly">Four weekly</option>
        </select>
        {{/select}}
    </div>

</form>