<form method="POST" action="/Employer/{{EmployerId}}/payRun" data-parsley-validate>

    {{>validationErrors}}

    {{#if this.Status}}
    <p>{{this.Status}}</p>
    {{/if}}

    <div class="row">
        <div class="col-sm-12 col-md-12">        
            {{#if this.PayScheduleId}}
                <input type="hidden" id="PaySchedule" name="PaySchedule" value="{{this.PayScheduleId}}" />
            {{else}}
                <div class="form-group">
                    <label for="PaySchedule">Pay Schedule</label>
                    <select class="form-control" id="PaySchedule" name="PaySchedule" required data-required-message="Pay Schedule is required">
                        {{#each this.PaySchedules}}
                            <option value="{{this.Key}}">{{this.Name}}</option>
                        {{/each}}
                    </select>
                </div>
            {{/if}}

            <div class="form-group">
                <label for="PaymentDate">Payment Date</label>
                <input type="date" 
                    class="form-control form-control-lg" 
                    id="PaymentDate" 
                    name="PaymentDate" 
                    value="{{PaymentDate}}" 
                    placeholder="The date the employees were paid in the pay run" 
                    required 
                    data-required-message="Payment Date is required",
                    {{minStartDate TaxPeriodStart}}
                    {{maxStartDate TaxPeriodEnd}}>

                <span class="notes">The date you wish to appear on the employee's payslip (aka pay day).</span>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">    
                    <div class="form-group">
                        <label for="StartDate">Pay Period Start</label>
                        <input type="date" 
                            class="form-control" 
                            id="StartDate" 
                            name="StartDate" 
                            value="{{StartDate}}" 
                            placeholder="The pay period start date" 
                            required 
                            data-required-message="Pay Period Start is required">
                    </div>
                </div>

                <div class="col-sm-12 col-md-6"> 
                    <div class="form-group">
                        <label for="EndDate">Pay Period End</label>
                        <input type="date" 
                            class="form-control" 
                            id="EndDate" 
                            name="EndDate" 
                            value="{{EndDate}}" 
                            placeholder="The pay period end date" 
                            required 
                            data-required-message="Pay Period End is required">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">   
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="IsSupplementary" name="IsSupplementary" {{checkedIf IsSupplementary}}>

                        <label class="form-check-label" for="IsSupplementary">
                            Supplementary?
                        </label>

                        {{!-- <span class="notes">
                        </span> --}}
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">   
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="SelectEmployees" name="SelectEmployees" {{checkedIf SelectEmployees}}>

                        <label class="form-check-label" for="SelectEmployees">
                            Select Employees
                        </label>

                        {{!-- <span class="notes">
                        </span> --}}
                    </div>
                </div>
            </div>


            <div id="select-employees-grp" class="form-group" style="display:none">
                <label for="Employees">Employees</label>

                {{!-- {{#multipleSelect Employees}} --}}
                <select class="form-control" id="Employees" name="Employees" multiple>
                    <option value="AllEmployees">--- All PaySchedule Employees ---</option>
                    {{#each Employees}}
                        <option value="/Employer/{{../EmployerId}}/Employee/{{Key}}">{{LastName}}, {{FirstName}} ({{Code}})</option>
                    {{/each}}
                </select>
                {{!-- {{/multipleSelect}} --}}

                <span class="notes">
                    Select individual employess from the pay schedule to be included in the payrun.
                    <br/>By default all employees from the pay schedule will be included.
                </span>
            </div>

        </div>
    </div>

    <input id="NextPaymentDate" type="hidden" value="{{PaymentDate}}">
    <input id="NextPeriodStart" type="hidden" value="{{StartDate}}">
    <input id="NextPeriodEnd" type="hidden" value="{{EndDate}}">
    <input id="NextTaxPeriodStart" type="hidden" value="{{TaxPeriodStart}}">
    <input id="NextTaxPeriodEnd" type="hidden" value="{{TaxPeriodEnd}}">
    <input id="SupMinPaymentDate" type="hidden" value="{{LastPayDay}}">
    <input id="SupMaxPaymentDate" type="hidden" value="{{LastTaxPeriodEnd}}">
    <input id="SupPeriodStart" type="hidden" value="{{LastPeriodStart}}">
    <input id="SupPeriodEnd" type="hidden" value="{{LastPeriodEnd}}">

</form>

<script src="/js/pay-run-creation.js"></script>