{{#if Id}}
<form method="POST" action="/Employer/{{EmployerId}}/employee/{{EmployeeId}}/payInstruction/{{Id}}" class="pay-instruction" data-parsley-validate>
{{else}}
<form method="POST" action="/Employer/{{EmployerId}}/employee/{{EmployeeId}}/payInstruction" class="pay-instruction" data-parsley-validate>
{{/if}}

    {{>validationErrors}}

    {{#if EnableForm}}
        {{payInstructionPartial this}}
    {{else}}
        <div class="card bg-light">
            <div class="card-header">Instructions</div>
            <div class="card-body">
                <p class="card-text">
                    Add an End Date against all existing Instructions of this type before adding a new instruction.
                </p>
            </div>
        </div>        
    {{/if}}

    <input type="hidden" value="{{MinStartDate}}" name="MinStartDate">
    <input type="hidden" value="{{InstructionType}}" name="InstructionType">
    <input type="hidden" value="{{EmployerId}}" name="EmployerId">
</form>

<script src="/js/pay-instruction.js"></script>