{{>breadcrumbs}}

<div class="pay-run-info">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-sm-12">
                    <strong>Pay Frequency</strong>
                </div>

                <div class="col-sm-12">
                    {{PayFrequency}}
                </div>            
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <strong>Payment Date</strong>
                </div>

                <div class="col-sm-12">
                    {{PaymentDate}}
                </div>            
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <strong>Tax Year / Period</strong>
                </div>

                <div class="col-sm-12">
                    {{TaxYear}} / {{TaxPeriod}}
                </div>            
            </div>                    
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-sm-12">
                    <strong>Period start</strong>
                </div>

                <div class="col-sm-12">
                    {{PeriodStart}}
                </div>            
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <strong>Period end</strong>
                </div>

                <div class="col-sm-12">
                    {{PeriodEnd}}
                </div>            
            </div>            
        </div>    
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{#if Employees}}
            <p><strong>Employees</strong></p>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Bank Account</th>
                        <th width="50px"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Employees}}
                    <tr>
                        <td>{{employeeName this}}</td>
                        <td>{{address this.Address}}</td>
                        <td>{{bankAccount this.BankAccount}}</td>
                        <td>
                            <a class="btn btn-link btn-primary"
                               href="/Employer/{{../EmployerId}}/Employee/{{Id}}/PaySlipData/{{Code}}/{{../TaxPeriod}}/{{../TaxYear}}"
                               target="_blank">Pay slip data</a>
                            <br>
                            {{#if Commentary}}
                            <a class="btn btn-link btn-primary" 
                               href="{{extractHref Commentary}}"
                               target="_blank">Commentary</a>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
            </tbody>
            </table>
            {{/if}}                     
        </div>
    </div>    
</div>