{{#if Id}}
<form method="POST" action="/Employer/{{EmployerId}}/employee/{{EmployeeId}}/payInstruction/{{Id}}">
{{else}}
<form method="POST" action="/Employer/{{EmployerId}}/employee/{{EmployeeId}}/payInstruction">
{{/if}}

    {{>breadcrumbs}}

    {{>validationErrors}}

    {{payInstructionPartial this}}

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </div>
    </div>

    <input type="hidden" value="{{MinStartDate}}" name="MinStartDate">
    <input type="hidden" value="{{InstructionType}}" name="InstructionType">
</form>