{{>breadcrumbs}}

<div class="pay-run-info">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-sm-12">
                    <strong>Pay Schedule</strong>
                </div>

                <div class="col-sm-12">
                    {{PaySchedule.Name}}
                </div>            
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <strong>Pay Frequency</strong>
                </div>

                <div class="col-sm-12">
                    {{PaySchedule.PayFrequency}}
                </div>            
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-sm-12">
                    <strong>Payment Date</strong>
                </div>

                <div class="col-sm-12">
                    {{PaymentDate}}
                </div>            
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <strong>Tax Year / Period</strong>
                </div>

                <div class="col-sm-12">
                    {{TaxYear}}/{{TaxPeriod}}
                </div>            
            </div>                    
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-sm-12">
                    <strong>Period start</strong>
                </div>

                <div class="col-sm-12">
                    {{PeriodStart}}
                </div>            
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <strong>Period end</strong>
                </div>

                <div class="col-sm-12">
                    {{PeriodEnd}}
                </div>            
            </div>            
        </div>    
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{#if Employees}}
            <p><strong>Employees</strong></p>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Code</th>
                        <th scope="col">Payments</th>
                        <th scope="col">Tax</th>
                        <th scope="col">EE NI</th>
                        <th scope="col">ER NI</th>
                        <th scope="col">Other Deducs</th>
                        <th scope="col">Net Pay</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Employees}}
                    <tr>
                        <td>
                            <a href="/Employer/{{../EmployerId}}/Employee/{{Key}}">{{Name}}</a>          
                        </td>
                        <td>{{Key}}</td>
                        <td>{{PAYMENTS}}</td>
                        <td>{{TAX}}</td>
                        <td>{{EE_NI}}</td>
                        <td>{{ER_NI}}</td>
                        <td>{{OTHERDEDNS}}</td>
                        <td>{{NETPAY}}</td>
                        <td class="text-right">

                            <div class="dropdown show">
                                <a class="btn btn-sm btn-default dropdown-toggle" 
                                    href="#" 
                                    role="button" 
                                    id="empPayRunOptions" 
                                    data-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false">
                                    Payslip
                                </a>

                                <div class="dropdown-menu" aria-labelledby="empPayRunOptions">
                                    <a class="dropdown-item" target="_blank" href="/Employer/{{../EmployerId}}/Employee/{{Key}}/PaySlipPdf/{{Code}}/{{../TaxYear}}/{{../PaymentDate}}/{{../PayScheduleId}}">Payslip</a>        
                                    <a class="dropdown-item" target="_blank" href="/Employer/{{../EmployerId}}/Employee/{{Key}}/PaySlipData/{{Code}}/{{../TaxYear}}/{{../PaymentDate}}/{{../PayScheduleId}}">Payslip Data</a>                     
                                    {{#if Commentary}}
                                    <a class="dropdown-item" target="_blank" href="{{extractHref Commentary}}">Commentary</a>    
                                    {{/if}}
                                </div>
                            </div>

                        </td>
                    </tr>
                    {{/each}}
            </tbody>
            </table>
            {{/if}}                     
        </div>
    </div>    
</div>