{{>breadcrumbs}}

<div class="pay-run-info">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-sm-12">
                    <strong>Pay Schedule</strong>
                </div>

                <div class="col-sm-12">
                    {{PaySchedule.Name}}
                </div>            
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <strong>Pay Frequency</strong>
                </div>

                <div class="col-sm-12">
                    {{PaySchedule.PayFrequency}}
                </div>            
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-sm-12">
                    <strong>Payment Date</strong>
                </div>

                <div class="col-sm-12">
                    {{PaymentDate}}
                </div>            
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <strong>Tax Year / Period</strong>
                </div>

                <div class="col-sm-12">
                    {{TaxYear}}/{{TaxPeriod}}
                </div>            
            </div>                    
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-sm-12">
                    <strong>Period start</strong>
                </div>

                <div class="col-sm-12">
                    {{PeriodStart}}
                </div>            
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <strong>Period end</strong>
                </div>

                <div class="col-sm-12">
                    {{PeriodEnd}}
                </div>            
            </div>            
        </div>    
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{#if Employees}}
            <p><strong>Employees</strong></p>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Payments</th>
                        <th scope="col">Tax</th>
                        <th scope="col">EE NI</th>
                        <th scope="col">ER NI</th>
                        <th scope="col">Other Deducs</th>
                        <th scope="col">Net Pay</th>
                        <th width="210px"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Employees}}
                    <tr>
                        <td>
                            <a href="/Employer/{{../EmployerId}}/Employee/{{Key}}">{{Name}}</a>          
                        </td>
                        <td>{{PAYMENTS}}</td>
                        <td>{{TAX}}</td>
                        <td>{{EE_NI}}</td>
                        <td>{{ER_NI}}</td>
                        <td>{{OTHERDEDNS}}</td>
                        <td>{{NETPAY}}</td>
                        <td class="text-right">
                            <a href="/Employer/{{../EmployerId}}/Employee/{{Key}}/PaySlipData/{{Code}}/{{../TaxPeriod}}/{{../TaxYear}}"
                               target="_blank">Payslip</a>
                            &nbsp;|&nbsp;
                            {{#if Commentary}}
                            <a href="{{extractHref Commentary}}"
                               target="_blank">Commentary</a>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
            </tbody>
            </table>
            {{/if}}                     
        </div>
    </div>    
</div>