<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Holiday Scheme</th>
            <th>Start Date</th>
            <th>Scheme Join Date</th>
            <th>Accrual Type</th>
            <th width="50px"></th>
        </tr>
    </thead>
    <tbody>
        {{#each Instructions}}
        <tr>
            <th scope="row">
                <a class="launch-modal" 
                    data-modal-size="modal-lg" 
                    data-modal-size="modal-lg" 
                    data-modal-title="Holiday Scheme Membership" 
                    href="/employer/{{../ParentContext.EmployerId}}/employee/{{../ParentContext.Id}}/payInstruction/{{this.Id}}">
                    {{this.Id}}
                </a>
            </th>    
            <td>
                <a href="{{extractHref this.HolidayScheme}}">
                    {{extractIdFromLink this.HolidayScheme}}
                </a>
            </td>
            <td>
                {{this.StartDate}}
            </td>
            <td>
                {{this.SchemeJoinDate}}
            </td>   
            <td>
                {{this.AccrualType}}
            </td>         
            <td>
                <button type="button" 
                    class="btn btn-danger btn-sm btn-delete-instruction" 
                    data-employer-id="{{../ParentContext.EmployerId}}" 
                    data-employee-id="{{../ParentContext.Id}}" 
                    data-id="{{this.Id}}">
                    Delete
                </button>                
            </td>                                         
        </tr>
        {{/each}}                    
    </tbody>
</table> 