<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ni Letter</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Description</th>
            <th width="50px"></th>
        </tr>
    </thead>
    <tbody>
        {{#each Instructions}}
        <tr>
            <th scope="row">
                <a href="/employer/{{../ParentContext.EmployerId}}/employee/{{../ParentContext.Id}}/payInstruction/{{this.Id}}">
                    {{this.Id}}
                </a>
            </th>
            <td>
                {{this.NiLetter}}
            </td>            
            <td>
                {{this.StartDate}}
            </td>
            <td>
                {{this.EndDate}}
            </td>
            <td>
                {{this.Description}}
            </td>
            <td>
                <button type="button" 
                    class="btn btn-danger btn-sm btn-delete-instruction" 
                    data-employer-id="{{../ParentContext.EmployerId}}" 
                    data-employee-id="{{../ParentContext.Id}}" 
                    data-id="{{this.Id}}">
                    Delete
                </button>                
            </td>                                                          
        </tr>
        {{/each}}                    
    </tbody>
</table>