<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Due Date</th>
            <th>Born Date</th>
            <th>Absence Start</th>
            <th>Absence End</th>
            <th>Statutory Offset?</th>
            <th width="50px"></th>
        </tr>
    </thead>
    <tbody>
        {{#each Instructions}}
        <tr>
            <th scope="row">
                <a href="/employer/{{../ParentContext.EmployerId}}/employee/{{../ParentContext.Id}}/payInstruction/{{this.Id}}">
                    {{this.Id}}
                </a>
            </th>
            <td>
                {{this.BabyDueDate}}
            </td>
            <td>
                {{this.BabyBornDate}}
            </td>                        
            <td>
                {{this.AbsenceStart}}
            </td>
            <td>
                {{this.AbsenceEnd}}
            </td>
            <td>
                {{this.StatutoryOffset}}
            </td>
            <td>
                <button type="button" 
                    class="btn btn-danger btn-sm btn-delete-instruction" 
                    data-employer-id="{{../ParentContext.EmployerId}}" 
                    data-employee-id="{{../ParentContext.Id}}" 
                    data-id="{{this.Id}}">
                    Delete
                </button>                
            </td>                                                          
        </tr>
        {{/each}}                    
    </tbody>
</table>